body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6dd5ed, #1d92af);
    color: #fff;
    text-align: center;
}

.container {
    position: relative;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.container img {
  position: center;
    top: 5px;
  width: 110px;      /* adjust as you like */
  height: 110px;     /* adjust as you like */
  border-radius: 50%; /* makes it circular */
  object-fit: cover;  /* keeps image ratio clean */
  border: 2px solid #ccc;
}
h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}



.search-bar button {
    padding: 10px;
    background: #4caf50;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 5px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.search-bar button:hover {
    background: #45a049;
}

.error-message {
    color: #ff4d4d;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.condition {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ffb74d;
}

.condition i {
    font-size: 3rem;
    margin-right: 10px;
}

.details {
    font-size: 1.2rem;
    text-align: left;
}

.details div {
    margin: 10px 0;
}

.hidden {
    display: none;
}

p {
    font-size: .8rem;
    color: orange;
    text-align: right;
}